.btn-w{
    border: 0rem;
    width: 10rem;
    height: 2rem;
    background-color: #013c8c;
    color: white;
}
.our-work{
    margin-left: 7.5%;
}
.our-work img{
    margin-left: 10rem;
}
.my-card{
    border: 0;
}
.list-recent{
    margin-left: 7.5%;
    width: 87%;
}
.list-proprietary{
    margin-left: 7.5%;
    width: 87%;
}
.input-work{
    background-color: #e6e6e6;
    border: 0;
    height: 2.5rem;
}
.mb-2 textarea{ 
    height: 21.5rem;
}
.form-work{
    margin-left: 7.5%;
    width: 87%;
}