<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/contact.css">
</head>

<body>
    <header>
        <!-- banner -->
        <div class="head-page pre mt-5">
            <div class="list-menu d-flex w-100">
                <a class="logo" href="../view/home.html"><img src="../img/home/LOGO.png" alt=""></a>
                <nav>
                    <ul class=" main_menu d-flex">
                        <li><a class="menu" href="../view/why.html">WHY CHOSE US</a></li>
                        <li><a class="menu" href="../view/industries.html">INDUSTRIES</a></li>
                        <li><a class="menu" href="../view/work.html">WORKS</a></li>
                        <li><a class="menu" href="../view/team.html">OUR TEAM</a></li>
                        <li><a class="menu" href="../view/contact.html">CONTACT</a></li>
                        <li><a class="menu clp" href="#">END/VN</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="contact">
            <div class="card text-bg-dark text-center">
                <img src="../img/contact/background1.png" class="card-img" alt="...">
                <div class="card-img-overlay w-50 title1 ">
                    <h1 class="card-title">CONTACT US</h1>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book</p>
                </div>
            </div>
        </div>
        <div class="form-contact mt-5 mb-5">
            <div class="row">
                <h3 class="text-center mb-5">Get an estimate for your app idea. We do not spam.</h3>
                <div class="col-md-6">
                    <div class="row">
                        <u>
                            <h5>Sydney</h5>
                        </u>
                    </div>
                    <div class="row">
                        <p>
                            417/165 Phillip St Sydney NSW 2000 Australia
                            1300 028 808
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            Int. +61 2 8776 3849
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            sales@block8.com
                        </p>
                        <div class="row">
                            <u>
                                <h5>Chandigarh</h5>
                            </u>
                        </div>
                        <div class="row">
                            <p>

                                Rajiv Gandhi Chandigarh Technology Park, Manimajra, Chandigarh, 160101, India
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form action="">
                        <div class="row">
                            <input class="w-100 inp-contact inp-text" type="text" name="" id="" placeholder="name">
                        </div>
                        <div class="row">
                            <input class="w-100 inp-contact inp-text mt-2" type="text" name="" id="" placeholder="email">
                        </div>
                        <div class="row">
                            <input class="w-100 inp-contact inp-text mt-2" type="text" name="" id="" placeholder="subject">
                        </div>
                        <div class="row">
                            <textarea class="w-100 inp-contact mt-2" name="" id="" cols="30" rows="10" placeholder="messenger"></textarea>
                        </div>
                        <div class="row">
                            <input class="w-100 mt-2 btn-sd" type="submit" name="send" id="" value="SEND">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="subcribe">
            <div class="card text-bg-dark text-center ">
                <img src="../img/contact/background2.png" class="card-img" alt="...">
                <div class="card-img-overlay w-50 title2 mt-5">
                    <h3 class="card-title">Subscribe to our Newsletter</h3>
                    <p class="card-text ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to</p>
                    <button class="btn-sd btn-ct">Subcribe now</button>
                </div>
            </div>
        </div>
    </section>

    <footer class="mt-5">
        <div class="list-menu-footer d-flex w-100">
            <img class="logo-footer" src="../img/home/LOGO.png" alt="">
            <ul class=" main_menu-footer d-flex">
                <li class="mt-2"><a class="menu-footer clp" href="">WHY CHOSE US</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="">INDUSTRIES</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="">WORKS</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="">OUR TEAM</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="">CONTACT</a></li>
            </ul>
            <div class="contact-footer d-flex m-auto">
                <h6 class="clp text-center me-4 pt-2">012345XXXXX</h6>
                <img src="../img/home/SOCIAL.png" alt="">
            </div>
        </div>
    </footer>

</body>

</html>