<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/industries.css">
</head>

<body>
    <header>
        <!-- banner -->
        <div class="head-page pre  mt-5">
            <div class="list-menu d-flex w-100">
                <a class="logo" href="../view/home.html"><img src="../img/home/LOGO.png" alt=""></a>
                <nav>
                    <ul class=" main_menu d-flex">
                        <li><a class="menu" href="../view/why.html">WHY CHOSE US</a></li>
                        <li><a class="menu" href="../view/industries.html">INDUSTRIES</a></li>
                        <li><a class="menu" href="../view/work.html">WORKS</a></li>
                        <li><a class="menu" href="../view/team.html">OUR TEAM</a></li>
                        <li><a class="menu" href="../view/contact.html">CONTACT</a></li>
                        <li><a class="menu clp" href="#">END/VN</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="list-industries">
            <div class="card mb-3  card-industries">
                <div class="row g-0">
                    <div class="col-md-5">
                        <div class="card-body">
                            <h2 class="card-title">Industries</h2>
                            <p class="card-text">Unlock new value, build trust and bring transparency across industries
                                and businesses with the power of Blockchain.</p>
                            <button class="btn-sd">contact us</button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <img src="../img/industries/picture1.png" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-3  card-industries">
                <div class="row g-0 mt-5">
                    <div class="col-md-5">
                        <img src="../img/industries/picture2.png" class=" img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 ">
                        <div class="card-body text-start">
                            <p>our industries</p>
                            <h5 class="card-title">Consumer electronics</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis
                                hendrerit dolor magna eget.</p>
                            <button class="btn-sd">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3  card-industries">
                <div class="row g-0 mt-5">
                    <div class="col-md-5">
                        <div class="card-body text-end">
                            <p>our industries</p>
                            <h5 class="card-title">Fintech</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis
                                hendrerit dolor magna eget.</p>
                            <button class="btn-sd">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <img src="../img/industries/picture3.png" class=" img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-3  card-industries">
                <div class="row g-0 mt-5">
                    <div class="col-md-5">
                        <img src="../img/industries/picture4.png" class=" img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 ">
                        <div class="card-body text-start">
                            <p>our industries</p>
                            <h5 class="card-title">Healthcare</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis
                                hendrerit dolor magna eget.</p>
                            <button class="btn-sd">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3  card-industries">
                <div class="row g-0 mt-5">
                    <div class="col-md-5">
                        <div class="card-body text-end">
                            <p>our industries</p>
                            <h5 class="card-title">Healthcare</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis
                                hendrerit dolor magna eget.</p>
                            <button class="btn-sd">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <img src="../img/industries/picture5.png" class=" img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-3  card-industries">
                <div class="row g-0 mt-5">
                    <div class="col-md-5">
                        <img src="../img/industries/picture6.png" class=" img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 ">
                        <div class="card-body text-start">
                            <p>our industries</p>
                            <h5 class="card-title">Logistics</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis
                                hendrerit dolor magna eget.</p>
                            <button class="btn-sd">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3  card-industries">
                <div class="row g-0 mt-5">
                    <div class="col-md-5">
                        <div class="card-body text-end">
                            <p>our industries</p>
                            <h5 class="card-title">Manufacturing</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis
                                hendrerit dolor magna eget.</p>
                            <button class="btn-sd">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <img src="../img/industries/picture7.png" class=" img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-3  card-industries">
                <div class="row g-0 mt-5">
                    <div class="col-md-5">
                        <img src="../img/industries/picture8.png" class=" img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 ">
                        <div class="card-body text-start">
                            <p>our industries</p>
                            <h5 class="card-title">Travel</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis
                                hendrerit dolor magna eget.</p>
                            <button class="btn-sd">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3  card-industries">
                <div class="row g-0 mt-5">
                    <div class="col-md-5">
                        <div class="card-body text-end">
                            <p>our industries</p>
                            <h5 class="card-title">Startup</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis
                                hendrerit dolor magna eget.</p>
                            <button class="btn-sd">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <img src="../img/industries/picture9.png" class=" img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="mt-5">
        <div class="list-menu-footer d-flex w-100">
            <img class="logo-footer" src="../img/home/LOGO.png" alt="">
            <ul class=" main_menu-footer d-flex">
                <li class="mt-2"><a class="menu-footer clp" href="./why.html">WHY CHOSE US</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="./industries.html">INDUSTRIES</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="./work.html">WORKS</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="./team.html">OUR TEAM</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="./contact.html">CONTACT</a></li>
            </ul>
            <div class="contact-footer d-flex m-auto">
                <h6 class="clp text-center me-4 pt-2">012345XXXXX</h6>
                <img src="../img/home/SOCIAL.png" alt="">
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>