<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/team.css">
</head>
<body>
    <header>
        <!-- banner -->
        <div class="head-page pre">
            <img class="w-100" src="../img/home/background1.png" alt="background1">
            <div class="list-menu d-flex w-100">
                <a class="logo" href="../view/home.html"><img src="../img/home/LOGO.png" alt=""></a>
                <nav>
                    <ul class=" main_menu d-flex">
                        <li><a class="menu" href="../view/why.html">WHY CHOSE US</a></li>
                        <li><a class="menu" href="../view/industries.html">INDUSTRIES</a></li>
                        <li><a class="menu" href="../view/work.html">WORKS</a></li>
                        <li><a class="menu" href="../view/team.html">OUR TEAM</a></li>
                        <li><a class="menu" href="../view/contact.html">CONTACT</a></li>
                        <li><a class="menu clp" href="">END/VN</a></li>
                    </ul>
                </nav>
            </div>
            <div class="content-header">
                <h1>Develop High-tech product for Enterprise</h1>
                <p>We provide excellent development services in a wide range of business industries with distributed system base on blockchain technology</p>
                <button class="btn-menu">LEAN MORE</button>
            </div>
        </div>
    </header>

    <section>

    </section>

    <footer class="mt-5">
        <div class="list-menu-footer d-flex w-100">
            <img class="logo-footer" src="../img/home/LOGO.png" alt="">
            <ul class=" main_menu-footer d-flex">
                <li class="mt-2"><a class="menu-footer clp" href="">WHY CHOSE US</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="">INDUSTRIES</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="">WORKS</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="">OUR TEAM</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="">CONTACT</a></li>
            </ul>
            <div class="contact-footer d-flex m-auto">
                <h6 class="clp text-center me-4 pt-2">012345XXXXX</h6>
                <img src="../img/home/SOCIAL.png" alt="">
            </div>
        </div>
    </footer>

</body>
</html>