<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/team.css">
</head>
<body>
    <header>
        <!-- banner -->
        <div class="head-page pre">
            <img class="w-100" src="../img/team/banner.png" alt="background1">
            <div class="list-menu d-flex w-100">
                <a class="logo" href="../view/home.html"><img src="../img/home/LOGO.png" alt=""></a>
                <nav>
                    <ul class=" main_menu d-flex">
                        <li><a class="menu" href="../view/why.html">WHY CHOSE US</a></li>
                        <li><a class="menu" href="../view/industries.html">INDUSTRIES</a></li>
                        <li><a class="menu" href="../view/work.html">WORKS</a></li>
                        <li><a class="menu" href="../view/team.html">OUR TEAM</a></li>
                        <li><a class="menu" href="../view/contact.html">CONTACT</a></li>
                        <li><a class="menu clp" href="">END/VN</a></li>
                    </ul>
                </nav>
            </div>
            <div class="content-header">
                <h1>Develop High-tech product for Enterprise</h1>
                <p>We provide excellent development services in a wide range of business industries with distributed system base on blockchain technology</p>
                <button class="btn-menu">LEAN MORE</button>
            </div>
        </div>
    </header>

    <section>
        <div class="container-box text-center mb-5 mt-5">
            <div class="w-100">
                <div class="row w-100">
                    <div class="col-md-4">
                        <div class="card w-100 border-0">
                            <img src="../img/team/picture1.png" class="card-img-top ps-3" style="width: 100px;"
                                alt="...">
                            <div class="card-body text-start">
                                <h6 class="card-title pe-3">TVM Blockchain is accelerating the
                                    development of decentralised
                                    applications. We build and grow
                                    blockchain companies by leveraging our
                                    network, expertise and access to
                                    capital.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card w-100 border-0">
                            <img src="../img/team/picture2.png" class="card-img-top ps-3" style="width: 100px;"
                                alt="...">
                            <div class="card-body text-start">
                                <h6 class="card-title pe-3">We joint venture with leading companies
                                    and domain experts to incubate
                                    innovative applications. These
                                    applications transform business models
                                    and disrupt industries, using blockchain
                                    technology.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card w-100 border-0">
                            <img src="../img/team/picture3.png" class="card-img-top ps-3" style="width: 100px;"
                                alt="...">
                            <div class="card-body text-start">
                                <h6 class="card-title pe-3">We leverage our deep experience
                                    in blockchains and Ethereum
                                    smart contracts to architect
                                    platforms and applications that
                                    creates new digital business
                                    models.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider -->
        <div class=" slide row mt-5 me-5">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="row d-flex">
                    <div class="col-md-4">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../img/home/picture1.png" class="d-block" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/home/picture2.png" class="d-block" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/home/picture3.png" class="d-block" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../img/home/picture2.png" class="d-block" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/home/picture3.png" class="d-block" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/home/picture1.png" class="d-block" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../img/home/picture3.png" class="d-block" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/home/picture1.png" class="d-block" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/home/picture2.png" class="d-block" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- LEADER TEAM -->
        <div class="leader-team container-box ">
            <h1 class="my-5 text-center fw-bold">LEADER TEAM</h1>
            <div class="row list-projects">
                <div class="col-md-3">
                    <div class="card mb-5">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/picture4.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../img/home/SOCIAL.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-5">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/picture4.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../img/home/SOCIAL.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-5">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/picture4.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../img/home/SOCIAL.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-5">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/picture4.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../img/home/SOCIAL.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-5">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/picture4.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../img/home/SOCIAL.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-5">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/picture4.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../img/home/SOCIAL.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-5">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/picture4.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../img/home/SOCIAL.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-5">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/picture4.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../img/home/SOCIAL.png" alt="..."></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- OUR PARTNERS -->
        <div class="out-partners container-fluid px-0 position-relative">
            <img src="../img/team/picture5.png" alt="" class="w-100">
            <div class="title position-absolute top-0 w-100 text-center">
                <h1 class="mt-5 fw-bold text-white">OUR PARTNERS</h1>
                <p class="text-white w-50 mx-auto ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    reprehenderit nostrum blanditiis, impedit repellendus laborum asperiores odit. Fugiat saepe ad
                    consequatur aut natus illum, qui totam ullam error odit soluta vitae nihil sunt accusamus harum.</p>
            </div>
        </div>
    </section>

    <footer class="mt-5">
        <div class="list-menu-footer d-flex w-100">
            <img class="logo-footer" src="../img/home/LOGO.png" alt="">
            <ul class=" main_menu-footer d-flex">
                <li class="mt-2"><a class="menu-footer clp" href="./why.html">WHY CHOSE US</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="./industries.html">INDUSTRIES</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="./work.html">WORKS</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="./team.html">OUR TEAM</a></li>
                <li class="mt-2"><a class="menu-footer clp" href="./contact.html">CONTACT</a></li>
            </ul>
            <div class="contact-footer d-flex m-auto">
                <h6 class="clp text-center me-4 pt-2">012345XXXXX</h6>
                <img src="../img/home/SOCIAL.png" alt="">
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>`
</body>
</html>