<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHY CHOSE US</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/why.css">
</head>

<body>
    <header>
        <div class="head-page pre mt-5">
            <div class="list-menu d-flex w-100">
                <a class="logo" href="../view/home.html"><img src="../img/home/LOGO.png" alt=""></a>
                <nav>
                    <ul class=" main_menu d-flex">
                        <li><a class="menu" href="../view/why.html">WHY CHOSE US</a></li>
                        <li><a class="menu" href="../view/industries.html">INDUSTRIES</a></li>
                        <li><a class="menu" href="../view/work.html">WORKS</a></li>
                        <li><a class="menu" href="../view/team.html">OUR TEAM</a></li>
                        <li><a class="menu" href="../view/contact.html">CONTACT</a></li>
                        <li><a class="menu clp" href="">END/VN</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <div class="banner position-relative">
            <img class="w-100" src="../img/why chose/background1.png" alt="">
            <div class="info-banner position-absolute text-white">
                <h2>We respond with all IT solutions
                    for customer issues and innovation </h2>
                <p>From system design, development and operation. Since we are able to consistently carry out all phases
                    of development, you can consult us about everything. With application development technology, IT
                    infrastructure system construction technology, embedded technology, and advanced technology as the
                    core, we support IT solutions to solve customer problems.</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="whyis mb-5">
                <h1 class="text-center mb-5 mt-5">WHAT IS BLOCKCHAIN</h1>
                <ul>
                    <li>Blockchain is a system of recording information in a way that makes it difficult or impossible
                        to change, hack, or cheat the system.</li>
                    <li>A blockchain is essentially a digital ledger of transactions that is duplicated and distributed
                        across the entire network of computer systems on the blockchain. Each block in the chain
                        contains a number of transactions, and every time a new transaction occurs on the blockchain, a
                        record of that transaction is added to every participant's ledger. The decentralised database
                        managed by multiple participants is known as Distributed Ledger Technology (DLT).</li>
                </ul>
            </div>
        </div>

        <div class="properti ">
            <div class="row w-100">
                <div class="col-md-3">
                    <div class="row">
                        <div class="card card-1" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card card-2" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row card-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row"><img class="mt-5" src="../img/why chose/picture1.png" alt=""></div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-center">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-5">
            <div class="reasons ">
                <h1 class="mb-5">Reasons You Should Be Considering Blockchain</h1>
                <div class="row w-100 m-auro list-resons ">
                    <div class="col-md-4">
                        <div class="row text-start">
                            <div class="card" style="width: 18rem;">
                                <img class="w-30" src="../img/why chose/icon1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3>Process Ineffiency</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-start">
                            <div class="card" style="width: 18rem;">
                                <img class="w-30" src="../img/why chose/icon2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3>Process Ineffiency</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-start">
                            <div class="card" style="width: 18rem;">
                                <img class="w-30" src="../img/why chose/icon3.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3>Process Ineffiency</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <div class="SERVICE ">
                <h1 class="mb-5">Our SERVICE - YOUR BENEFITS</h1>
                <div class="row w-100 m-auro list-service">
                    <div class="col-md-4">
                        <div class="row text-start">
                            <div class="card mb-3" style="width: 18rem;">
                                <div class="row g-0">
                                    <div class="col-md-4 align-items-end">
                                        <img src="../img/why chose/icon4.png"
                                            class="img-fluid rounded-start icon-service" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-start">
                            <div class="card mb-3" style="width: 18rem;">
                                <div class="row g-0">
                                    <div class="col-md-4 align-items-end">
                                        <img src="../img/why chose/icon5.png"
                                            class="img-fluid rounded-start icon-service" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3" style="width: 18rem;">
                            <div class="row g-0">
                                <div class="col-md-4 align-items-end">
                                    <img src="../img/why chose/icon6.png" class="img-fluid rounded-start icon-service"
                                        alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                                ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 m-auro list-service  mt-3">
                    <div class="col-md-4">
                        <div class="row text-start">
                            <div class="card mb-3" style="width: 18rem;">
                                <div class="row g-0">
                                    <div class="col-md-4 align-items-end">
                                        <img src="../img/why chose/icon7.png"
                                            class="img-fluid rounded-start icon-service" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-start">
                            <div class="card mb-3" style="width: 18rem;">
                                <div class="row g-0">
                                    <div class="col-md-4 align-items-end">
                                        <img src="../img/why chose/icon8.png"
                                            class="img-fluid rounded-start icon-service" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3" style="width: 18rem;">
                            <div class="row g-0">
                                <div class="col-md-4 align-items-end">
                                    <img src="../img/why chose/icon9.png" class="img-fluid rounded-start icon-service"
                                        alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <div class="reasons ">
                <h1 class="mb-5">PROJECT</h1>
                <div class="row m-auro list-project ">
                    <div class="col-md-4">
                        <div class="row text-center">
                            <div class="card text-white">
                                <img src="../img/why chose/picture2.png" class="card-img " alt="...">
                                <div class="card-img-overlay card-project">
                                    <img src="../img/home/icon7.png" alt="">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-center">
                            <div class="card text-white">
                                <img src="../img/why chose/picture3.png" class="card-img " alt="...">
                                <div class="card-img-overlay card-project">
                                    <img src="../img/home/icon7.png" alt="">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-center">
                            <div class="card text-white">
                                <img src="../img/why chose/picture4.png" class="card-img " alt="...">
                                <div class="card-img-overlay card-project">
                                    <img src="../img/home/icon7.png" alt="">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>